/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 20, 2021, 5:35:18 PM
    Author     : user
*/

.padding{
    padding: 10px 10px 10px 10px;
    display: inline-block;
    
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  display: inline-block;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
     list-style-type: none;
     background-color: #000;
     cursor: pointer;
    width: 100%;
    font-size: 18px;
    border: none;
    outline: 0;
    padding: 12px;
    text-align: center;
    color: white;
}
.card button:hover {
  opacity: 0.7;
}
.allproducts li {
     list-style-type: none;
     background-color: #000;
     cursor: pointer;
    width: 100%;
    font-size: 18px;
    border: none;
    outline: 0;
    padding: 12px;
    text-align: center;
    color: white;
}
.form_{
    padding-bottom: 20px;
}
.allproducts li:hover {
  opacity: 0.7;
}
.product_desc{
    height: 70px;
}

.sidenav{
    width: 25%;
    display: inline-block;
}
.allproducts{
    width: 60%;
    display: inline-block;
}